<section class="contact-us">
    <div class="contact-us2 col-lg-4 m-auto shadow-lg">

         <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Full name</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Ra'ees Manuel">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Contact number</label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="0866575439">
          </div>

          <div class="mb-3">
            <label for="exampleFormControlTextarea1" class="form-label">Query</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
          </div>

          <button type="submit" class="btn btn-primary col-lg-12" >Submit</button>

    </div>

</section>

