<section class="about container">

    <h1 class="text-center mb-5">About</h1>

    <h4>Explaining the meaning behind JDM</h4>
    <p>
        The car community is a vast one and there are plenty of different categories, based on different criteria. Depending on the type of car, you have communities dedicated to American muscle, classic cars, exotic cars, etc. It can vary by nation or brand – German cars, American cars, Alfa Romeo, BMW, Ford, etc. Those are just a few examples. However, there is one category that is quite misunderstood - JDM.
    </p>

    <h4>What JDM stands for</h4>
    <p>
        Most of you probably know that JDM stands for Japanese Domestic Market. This refers to any vehicle that has been built IN Japan, for the Japanese market and complies with all Japanese legislation. This includes certain requirements with regards to emissions, safety, and others that are specific to the region. For example, Japanese cars are limited from the factory to 180 km/h (112 mph). This includes high-performance Japanese vehicles like the Nissan R35 GTR, in which the speed muzzle automatically switches off, once the GPS detects you are on a racetrack.
    </p>

    <h4>What JDM is not</h4>
    <p>
        The simple answer would be anything that isn’t produced for the Japanese market and isn’t from a Japanese company. Obviously, cars like Porsche 911 and BMW 3-Series are about as far from being JDM as possible, since they are produced by non-Japanese manufacturers, which don’t even have production facilities on Japanese territory.

        Some manufacturers have to adapt their cars to suit other markets, they wish to sell at. For example, the BMW 3-Series has a UK spec and a US-spec version. US versions of any European car usually have obligatory orange indicators on the side of the bumpers. Sometimes, there might be differences in the suspension settings or in horsepower and torque figures, for the purpose of complying with stricter emissions regulations. 
    </p>

    <p>
        Let’s take Honda for example. It’s a Japanese manufacturer that builds cars for the Japanese, as well as for other markets. Like many other carmakers, Honda has production plants in other parts of the world, like in the US. The eighth-generation Honda Civic had three different versions, depending on the market. The Civic FD was produced for Asia, Australia, Russia, and South Africa. Since Japan is in Asia and the Civic FD is also produced in Japan, it classifies as a JDM, as it is a part of the Japanese Domestic Market. The other versions of the eight-generation Civic are not considered JDM, as they are meant for other markets. The FK1/FN2 hatchback is meant for Australia and Europe and does not classify as JDM. Moreover, its assembly is completed in Honda’s facility in Swindon, England.
    </p>

    <div class="follow text-center">
        <h4>Follow us</h4>
        <a href="#">Facebook</a>
        <a href="#">Youtube</a>
        <a href="#">Instagram</a>
        <a href="#">Twitter</a>


    </div>

</section>