.navbar
{
    background-color:darkseagreen
}

.navbar-light .navbar-nav  .nav-link
{
    color: darkslategray;
    font-size:18px;
}

.navbar-light .navbar-nav  .nav-link:hover
{
   text-decoration: underline;
}